

       @if (Item == null) return;


          
 @if (Item.PosledniDatumRevize.Year < DateTime.Now.Year - 2)
            {
                Item.PotrebujeRevizi = true;
            }




            @if (Item.EditMod == false)
            {

                @if (Item.PotrebujeRevizi == true)
                {
                    <tr style="background-color:red">
                        <td>@Item.Jmeno</td>
                        <td>@Item.DatumKoupeni</td>
                        <td>@Item.PosledniDatumRevize</td>
                        <td>@Item.PotrebujeRevizi</td>
                        <td>
                            <button style="color:forestgreen" @onclick="@(() => Revize(Item))">Make a revison</button>
                        </td>
                        <td>
                            <button style="color:red" @onclick="() => DeleteItemCallback.InvokeAsync()" >Remove</button>
                        </td>
                        <td>
                            <button style="color:blue" @onclick="() => Item.EditMod = true">Edit ✏️</button>
                        </td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td>@Item.Jmeno</td>
                        <td>@Item.DatumKoupeni</td>
                        <td>@Item.PosledniDatumRevize</td>
                        <td>@Item.PotrebujeRevizi</td>
                        <td>
                            <button style="color:forestgreen" @onclick="@(() => Revize(Item))">Make a revison</button>
                        </td>
                        <td>
                            <button style="color:red" @onclick="() => DeleteItemCallback.InvokeAsync()" >Remove</button>
                        </td>
                        <td>
                            <button style="color:blue" @onclick="() => Item.EditMod = true">Edit ✏️</button>
                        </td>

                    </tr>

                }

            }
            else
            {




                @if (Item.PotrebujeRevizi == true)
                {


                    <tr>
                        <td><input class="border-2 border-slate-300" @bind-value=Item.Jmeno /> </td>
                        <td><input class="border-2 border-slate-300" @bind-value=Item.DatumKoupeni /> </td>
                        <td><input class="border-2 border-slate-300" @bind-value=Item.PosledniDatumRevize /> </td>
                        <td>@Item.PotrebujeRevizi</td>

                        <td>
                            <button style="color:blue" @onclick="@(() => Revize2(Item))">OK</button>
                        </td>

                    </tr>
                }
                else
                {
                    <tr style="background-color:red">
                        <td><input class="border-2 border-slate-300" @bind-value=Item.Jmeno /> </td>
                        <td><input class="border-2 border-slate-300" @bind-value=Item.DatumKoupeni /> </td>
                        <td><input class="border-2 border-slate-300" @bind-value=Item.PosledniDatumRevize /> </td>
                        <td>@Item.PotrebujeRevizi</td>

                        <td>
                            <button style="color:blue" @onclick="@(() => Revize2(Item))">OK</button>
                        </td>

                    </tr>

                }

            }


@code {

    void Revize(VybaveniModel Item)
    {


        if (Item.PotrebujeRevizi == true)
        {

            Item.PotrebujeRevizi = false;
            Item.PosledniDatumRevize = DateTime.Today;
        }
    }


    void Revize2(VybaveniModel Item)
    {
        Item.PotrebujeRevizi = false;
        Item.EditMod = false;
    }
  
    [Parameter] public VybaveniModel Item { get;set; }
    [Parameter] public EventCallback<VybaveniModel> DeleteItemCallback { get; set; }


    }